.pause-btn {
    display: flex;
    width: 65px;
    height: 65px;
    line-height: 60px;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    background-color: #344861;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pause-btn:hover {
    background-color: #496682;
    transform: scale(1.05); 
  }

  .pause-button:active {
    transform: scale(1.1);
    background-color: #293b4c;
  }
  
  