.Second{
    Display: flex;
} 

.button-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.button-caption {
  margin-top: 8px;
  font-size: 14px;
  color: #344861;
  text-align: center;
  justify-content: center;
}
