.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    gap: 1px;
}

.first{
    display: flex;
    flex-direction: row;   
}
.Second{
    display: flex;
    width: max-content;
} 

.left {
    width: 270px;
    height: 490px;
}

.right {
    width: 270px;
    height: 490px;
    border: 5px solid #535353;
}

